.login-wrapper {
  height: 100vh;
  background: #0f4c5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  width: 350px;
  padding: 35px;
  border-radius: 10px;
  text-align: center;
  color: #333;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #0f4c5c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #0f4c5c;
  cursor: pointer;
  font-weight: 500;
}