* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2b2d31;
    color: white;
    overflow: hidden;
}

/* Header */
header {
    padding: 15px;
    background-color: #1e1f22;
    font-size: 20px;
    font-weight: bold;
}

/* Chat area */
#chat {
    padding: 20px;
    padding-bottom: 80px; /* space for input bar */
    height: calc(100vh - 60px); /* full height minus header */
    overflow-y: auto;
}

/* Input fixed at bottom */
#inputArea {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #1e1f22;
}

/* Input field */
#message {
    flex: 1;
    padding: 8px;
}

button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #5865f2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Chat bubbles */
.message {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 60%;
}
.sender {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 4px;
}

.message-content {
    font-size: 15px;
    font-weight: 500;
}

.self {
    background-color: #5865f2;
    margin-left: auto;
}

.other {
    background-color: #3a3c41;
}

#loginSection, #signUpSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f4c5c;
}
/* White Card */
.login-container {
    background: white;
    width: 380px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #333;
}

/* Heading */
.login-container h2 {
    margin-bottom: 25px;
    font-weight: 500;
}

/* Form Group */
.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #0f4c5c;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #0f4c5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #0c3b48;
}

/* Extra Links */
.extra-links {
    margin-top: 18px;
    font-size: 13px;
}

.extra-links span {
    color: #0f4c5c;
    cursor: pointer;
}
